<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- Siempre establezca en false allowOverride-->
  <!--<location path="application2" allowOverride="false"/>-->
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="owin:AppStartup" value="BlackSys.Startup,BlackSys" />
  </appSettings>
  <system.web>
    <!--<machineKey validationKey="AutoGenerate,IsolateApps" decryptionKey="AutoGenerate,IsolateApps" decryption="DES"/>-->
    <!--Se agrego esta Linea para buena practiva de administracion de Sesiones. Encripta Cookie CASE.NET-->
    <!--Se agrega linea para especificar el tiempo de duracion de la coockie-->
    <roleManager cookieRequireSSL="true" cookieTimeout="10" />
    <!--<roleManager />-->
    <!--si se establece en falso, las cookies se utilizan para transferir el token de sesión, que protege los tokens de sesión-->
    <!--siempre inicia una nueva sesión cuando se proporciona un identificador de sesión caducado Para regenerateExpiredSessionId-->
    <sessionState cookieName="CGERPCookie" mode="InProc" cookieless="UseCookies" timeout="60" regenerateExpiredSessionId="true" />
    <!--<Siempre establezca debu en false a menos que este en pruebas Desarrollo. para produccion No Esto genera un informe de errores para el atacante />-->
    <compilation debug="true" targetFramework="4.6" />
    <globalization culture="en-US" />
    <httpRuntime targetFramework="4.6" />
    <!--Establece el modo de autenticacion que sera por asp.Net y se especifica que siempre
    use SSL para encriptar y el tiempo de sesion sin evento-->
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="10" requireSSL="true" />
    </authentication>
    <!--Siempre se debe establecer asi-->
    <pages enableViewStateMac="true" viewStateEncryptionMode="Always" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <connectionStrings>
    <!--<CONEXION REMOTA"/>-->
    <add name="BlackSysConnection" connectionString="Data Source=LOCAL;Initial Catalog=USR_UCYT;user id=jmercado;password=j123456;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
	  
    <!--<CONEXION REMOTA"/>-->
    <!--
    <add name="BlackSysConnection" connectionString="Data Source=INFO02\SQLDEVELOPER;Initial Catalog=COM_USER;user id=jmercado;password=j123456;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="COM_BDCEntities" connectionString="metadata=res://*/Models.COM_BDC.csdl|res://*/Models.COM_BDC.ssdl|res://*/Models.COM_BDC.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=INFO02\SQLDEVELOPER;initial catalog=COM_BDC;user id=jmercado;password=j123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="COMERCIALEntities" connectionString="metadata=res://*/Models.COM_Model.csdl|res://*/Models.COM_Model.ssdl|res://*/Models.COM_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=INFO02\SQLDEVELOPER;initial catalog=COMERCIAL;user id=jmercado;password=j123456;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ConCnn" connectionString="Data Source=INFO02\SQLDEVELOPER;Initial Catalog=COMERCIAL;user id=jmercado;password=j123456;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
	 
	  <add name="UcytAlmaMaterEntities" connectionString="metadata=res://*/Models.Dal.UcytAlmaMater.csdl|res://*/Models.Dal.UcytAlmaMater.ssdl|res://*/Models.Dal.UcytAlmaMater.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=UcytAlmaMater;user id=jmercado;password=j123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EnvDTE" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>