
@{
    ViewBag.Title = "DistribucionSueltos";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<head>
    <link href="~/assets/css/bstree.css" rel="stylesheet" />
    <script src="~/assets/js/jqueryTreeview.js"></script>
</head>


<form method="post" action="@Url.Action("DistribucionCajaReporte","Bodega")">
    <br />
    <div class="btn-group">
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#exampleModalLong">Ayuda</button>
        <button id="cargar" type="submit" class="btn btn-default">Consultar</button>
        <br />

        <br />
    </div>
    <div class="row">


        <div class="row col-md-2">
            <div class="funkyradio">
                <div class="funkyradio-success">
                    <input type="radio" name="radio1" id="radio1" value="Bodega1" checked="checked" />
                    <label for="radio1">Bodega 1</label>
                </div>


            </div>
        </div>
    </div>
    @*<div class="row text-center glyphicon-align-center">*@



    <div class="row">




        <div class="row col-md-6">
            <h3>Seleccione la Sucursal a generar</h3>
            <div>
                <p id="status">Status : </p>
            </div>
            <div class="col-6">
                <input id="bstree-data" type="hidden" name="bstree-data" data-ancestors="ALS:IDF">
                <div id="mytree" class="bstree">
                    <ul>
                        <li data-id="root" data-level="0">
                            <span>Super Farmacias Xolotlan</span>
                            <ul>
                                <li data-id="ACL" data-level="1">
                                    <span>Sucursales</span>
                                    <ul>
                                        @*<span class="text">@Html.DisplayFor(modelItem => item.OperadorNombre)           </span>*@
                                        <li data-id="4" data-level="2"><span>MEDCO PLAZA ESPANA</span></li>
                                        <li data-id="5" data-level="2"><span>MEDCO CARRETERA SUR</span></li>
                                        <li data-id="6" data-level="2"><span>MEDCO BELLO HORIZONTE</span></li>
                                        <li data-id="7" data-level="2"><span>MEDCO LAS COLINAS</span></li>
                                        <li data-id="8" data-level="2"><span>MEDCO VILLA FONTANA</span></li>
                                        <li data-id="9" data-level="2"><span>XOLOTLAN ESQUIPULAS</span></li>

                                        <li data-id="10" data-level="2"><span>MEDCO GALERIAS STO DOMINGO</span></li>
                                        <li data-id="11" data-level="2"><span>XOLOTLAN MERCADO ORIENTAL</span></li>
                                        <li data-id="12" data-level="2"><span>XOLOTLAN BOLONIA</span></li>
                                        <li data-id="13" data-level="2"><span>MEDCO EL TIANGUE</span></li>
                                        <li data-id="14" data-level="2"><span>XOLOTLAN COLONIA LAS AMERICAS</span></li>
                                        <li data-id="15" data-level="2"><span>MEDCO METROCENTRO</span></li>

                                        <li data-id="16" data-level="2"><span>XOLOTLAN COLONIA RUBENIA</span></li>
                                        <li data-id="17" data-level="2"><span>MEDCO COLONIA PLAZA ESPAÑA</span></li>
                                        <li data-id="18" data-level="2"><span>XOLOTLAN COLONIA CIUDAD JARDIN</span></li>
                                        <li data-id="19" data-level="2"><span>XOLOTLAN TICUANTEPE PLAZA CORLEONE</span></li>
                                        <li data-id="20" data-level="2"><span>XOLOTLAN COLONIA METROCENTRO</span></li>
                                        <li data-id="21" data-level="2"><span>MEDCO PLAZA INTER</span></li>

                                        <li data-id="22" data-level="2"><span>MEDCO COLONIA LAS BRISAS</span></li>
                                        <li data-id="23" data-level="2"><span>XOLOTLAN PALI ZUMEN</span></li>
                                        <li data-id="24" data-level="2"><span>MEDCO VERACRUZ</span></li>
                                        <li data-id="25" data-level="2"><span>MEDCO KM 12 1/2 CAR MASAYA</span></li>
                                        <li data-id="26" data-level="2"><span>MEDCO AEROPUERTO</span></li>
                                        <li data-id="27" data-level="2"><span>XOLOTLAN TIPITAPA</span></li>

                                        <li data-id="28" data-level="2"><span>XOLOTLAN CIUDAD SANDINO No. 2</span></li>
                                        <li data-id="29" data-level="2"><span>MEDCO MULTIENCTRO LAS AMERICAS</span></li>
                                        <li data-id="30" data-level="2"><span>XOLOTLAN TIPITAPA No 2</span></li>
                                        <li data-id="31" data-level="2"><span>MEDCO HIPER COLONIA GALERIAS</span></li>
                                        <li data-id="32" data-level="2"><span>MEDCO SIERRITAS</span></li>
                                        <li data-id="33" data-level="2"><span>XOLOTLAN RUBENIA</span></li>

                                        <li data-id="34" data-level="2"><span>MEDCO TICOMO</span></li>
                                        <li data-id="35" data-level="2"><span>MEDCO LAS PRADERAS</span></li>
                                        <li data-id="36" data-level="2"><span>MEDCO CAMINO DE ORIENTE 2</span></li>
                                        <li data-id="37" data-level="2"><span>MEDCO SERRANIA</span></li>
                                        <li data-id="38" data-level="2"><span>XOLOTLAN SABANA GRANDE</span></li>
                                        <li data-id="39" data-level="2"><span>MEDCO COLINAS 2</span></li>
                                        <li data-id="40" data-level="2"><span>XOLOTLAN PUMA COLINASE</span></li>
                                        <li data-id="41" data-level="2"><span>MEDCO PUMA AMERICANO</span></li>

                                    </ul>
                                </li>
                            </ul>
                        </li>

                    </ul>

                </div>
            </div>
        </div>


        <script src="~/assets/js/popper.min.js"></script>
        <script src="~/assets/js/jquery.bstree.js"></script>
        <script src="~/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>


        <input type="hidden" name="IdSucursal" id="IdSuc" placeholder="Recibe contenido" class="form-control">


    </div>



</form>


<script>
        $('document').ready(function () {
            $hiddenInput = $('#bstree-data')
            $('#mytree').bstree({
                dataSource: $hiddenInput,
                initValues: $hiddenInput.data('ancestors'),
                onDataPush: function (values) {
                    var def = '<strong class="pull-left">Values:&nbsp;</strong>'
                    for (var i in values) {
                        def += '<span class="pull-left">' + values[i] + '&nbsp;</span>'
                    }
                    ////$('#status').html(def),

                    document.getElementById('IdSuc').value = values
                },
                updateNodeTitle: function (node, title) {
                    return '[' + node.attr('data-id') + '] ' + title + ' (' + node.attr('data-level') + ')'
                }
            })
        })
</script>

@*--scrip para el arbol Casas*@
<script>
        $('document').ready(function () {
            $hiddenInput = $('#bstree-data2')
            $('#mytree2').bstree({
                dataSource: $hiddenInput,
                initValues: $hiddenInput.data('ancestors'),
                onDataPush: function (values) {
                    var def = '<strong class="pull-left">Values:&nbsp;</strong>'
                    for (var i in values) {
                        def += '<span class="pull-left">' + values[i] + '&nbsp;</span>'
                    }
                    //$('#status2').html(def),

                    document.getElementById('IdCasa').value = values
                },
                updateNodeTitle: function (node, title) {
                    return '[' + node.attr('data-id') + '] ' + title + ' (' + node.attr('data-level') + ')'
                }
            })
        })
</script>



<script>

    function EnviarCasa() {


        //var dataObject = JSON.stringify({
        //    'Sucursales': $('#uno').html()
        //    //'name': $('#myName').val(),
        //});

        //var IdSuc = JSON.stringify({
        //    'Sucursales': $('#uno').val()
        //    //'name': $('#myName').val(),
        //});

        var IdSuc = $('#uno').val();
        var IdCasa = $('#uno2').val();


    $.ajax({
        url: '/Ventas/ReporteCanjesReporte',
        type: 'POST',
        async: false,
        dataType: 'text',
        processData: false,
        data: { IdSuc, IdCasa },
        success: function (data) { }
    });
        }


</script>

<script>
        function Busc() {
            //var urls = $('#txtNombreBusqueda').attr('action'); // recupero la url de mi formulario -> localhost/miproyecto/public/agency/search
            var IdSuc = $('#uno').val(); // recupero el dato de mi input para enviar a buscar a mi controlador
            var IdCasa = $('#uno2').val();
            var FechaIni = $('#FechaIni').val();
            var FechaFin = $('#FechaFin').val();
            $.ajax({
                url: '/Ventas/ReporteCanjesReporte',
                data: { IdSuc, IdCasa, FechaIni, FechaFin }, //Aqui tienes que enviar el objeto json
                success: function () {

                    location.href = "ReporteCanjesReporte/";
                    console.log(ans);
                },
                error: function () {
                    console.log('error');// solo ingresa a esta parte
                }
            });
        };
</script>

<script type="text/javascript">
$("#datetime").datetimepicker({
    format: 'yyyy-mm-dd hh:ii'
});
</script>


<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Ayuda al Usuario</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Permite ver un reporte de Regalias facturadas en LD.Facturacion<br />
                Procedimiento:<br />
                1-Seleccionar el rango de fechas a visualizar. <br />
                2-Seleecionar las sucursales o marcar todas en el cuadro Todas a la izquiera de Super farmacias Xolotlan Casas.<br />
                3-Seleccionar las Casas o marcar toddas en el cuadro Todas a la izquierda de Super farmacias Xolotlan Casas.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Ok</button>
                @* <button type="button" class="btn btn-primary">Save changes</button>*@
            </div>
        </div>
    </div>
</div>





<div class="modal modal-static fade" id="processing-modal" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="text-center">
                    @*<img src="~/assets/images/loading.gif" class="icon" />*@
                    <div class="spinner"></div>
                    @*<img src="~/Content/dist/img/128x128.gif" />*@
                    @*<img src="~/Imagenes/circulo espera.gif" />*@
                    <h5><span class="modal-text center-block">Procesando, Espere por favor...<br />      </span></h5>
                    <h5><span class="modal-text"><br />      </span></h5>
                    <h5><span class="modal-text"><br />      </span></h5>
                    <h5><span class="modal-text"><br />      </span></h5>

                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $("#cargar").click("click", function () {
            var md = $("#processing-modal");
            md.modal('show');



        });
</script>



<style>
    .funkyradio div {
        clear: both;
        overflow: hidden;
    }

    .funkyradio label {
        width: 100%;
        border-radius: 3px;
        border: 1px solid #D1D3D4;
        font-weight: normal;
    }

    .funkyradio input[type="radio"]:empty,
    .funkyradio input[type="checkbox"]:empty {
        display: none;
    }

        .funkyradio input[type="radio"]:empty ~ label,
        .funkyradio input[type="checkbox"]:empty ~ label {
            position: relative;
            line-height: 2.5em;
            text-indent: 3.25em;
            margin-top: 2em;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

            .funkyradio input[type="radio"]:empty ~ label:before,
            .funkyradio input[type="checkbox"]:empty ~ label:before {
                position: absolute;
                display: block;
                top: 0;
                bottom: 0;
                left: 0;
                content: '';
                width: 2.5em;
                background: #D1D3D4;
                border-radius: 3px 0 0 3px;
            }

    .funkyradio input[type="radio"]:hover:not(:checked) ~ label,
    .funkyradio input[type="checkbox"]:hover:not(:checked) ~ label {
        color: #888;
    }

        .funkyradio input[type="radio"]:hover:not(:checked) ~ label:before,
        .funkyradio input[type="checkbox"]:hover:not(:checked) ~ label:before {
            content: '\2714';
            text-indent: .9em;
            color: #C2C2C2;
        }

    .funkyradio input[type="radio"]:checked ~ label,
    .funkyradio input[type="checkbox"]:checked ~ label {
        color: #777;
    }

        .funkyradio input[type="radio"]:checked ~ label:before,
        .funkyradio input[type="checkbox"]:checked ~ label:before {
            content: '\2714';
            text-indent: .9em;
            color: #333;
            background-color: #ccc;
        }

    .funkyradio input[type="radio"]:focus ~ label:before,
    .funkyradio input[type="checkbox"]:focus ~ label:before {
        box-shadow: 0 0 0 3px #999;
    }

    .funkyradio-default input[type="radio"]:checked ~ label:before,
    .funkyradio-default input[type="checkbox"]:checked ~ label:before {
        color: #333;
        background-color: #ccc;
    }

    .funkyradio-primary input[type="radio"]:checked ~ label:before,
    .funkyradio-primary input[type="checkbox"]:checked ~ label:before {
        color: #fff;
        background-color: #337ab7;
    }

    .funkyradio-success input[type="radio"]:checked ~ label:before,
    .funkyradio-success input[type="checkbox"]:checked ~ label:before {
        color: #fff;
        background-color: #5cb85c;
    }

    .funkyradio-danger input[type="radio"]:checked ~ label:before,
    .funkyradio-danger input[type="checkbox"]:checked ~ label:before {
        color: #fff;
        background-color: #d9534f;
    }

    .funkyradio-warning input[type="radio"]:checked ~ label:before,
    .funkyradio-warning input[type="checkbox"]:checked ~ label:before {
        color: #fff;
        background-color: #f0ad4e;
    }

    .funkyradio-info input[type="radio"]:checked ~ label:before,
    .funkyradio-info input[type="checkbox"]:checked ~ label:before {
        color: #fff;
        background-color: #5bc0de;
    }
</style>