
@{
    ViewBag.Title = "Distribuir";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div align="center" style="width:100%; height:100%;">
    <CR:CrystalReportViewer ID="crViewer" AutoDataBind="true" />
</div>

