@model BlackSys.Models.Categoria

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Loyout2.cshtml";
}



<div>
    <h4>Categoria</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Categoria_Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categoria_Nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Categoria_Id }) |
    @Html.ActionLink("Regresar al listado", "Index")
</p>
