
@{
    ViewBag.Title = "ComprasClientesFiltrarFecha";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post" action="@Url.Action("GetNombreCodigoArt","Ventas")">
    <br />

    <div class="form-group">
        <label class="control-label" for="Nombre">Seleecione el Cliente a consultar</label>
        @*<button></button>*@
        @Html.DropDownList("Articulo", (IEnumerable<SelectListItem>)ViewBag.Articulo, null, new { id = "Articulo", @class = "form-control" })
        <div class="help-block with-errors"></div>
        <span id="span1"></span>
    </div>
    <label>Fecha de inicio:</label>
    <input name="FechaIni" class="glyphicon-calendar" placeholder="26/05/2020 11:06:56 a. m." type="date" />
    <label>Fecha de finalizacion:</label>
    <input name="FechaFin" class="glyphicon-calendar" placeholder="26/05/2020 11:06:56 a. m." type="date" />
    <button type="submit" id="btnGrabar" class="btn btn-primary">Consultar</button>
    <br />

</form>




<div class="modal modal-static fade" id="processing-modal" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="text-center">
                    @*<img src="~/assets/images/loading.gif" class="icon" />*@
                    <div class="spinner"></div>
                    @*<img src="~/Content/dist/img/128x128.gif" />*@
                    @*<img src="~/Imagenes/circulo espera.gif" />*@
                    <h5><span class="modal-text center-block">Procesando, Espere por favor...<br />      </span></h5>
                    <h5><span class="modal-text"><br />      </span></h5>
                    <h5><span class="modal-text"><br />      </span></h5>
                    <h5><span class="modal-text"><br />      </span></h5>

                </div>
            </div>
        </div>
    </div>
</div>
