
@{
    ViewBag.Title = "ComprasClientes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}






<head>
    <script src="~/Content/DynaTables/jquery-1.7.2.min.js"></script>
    </head>

<br />



<br />
@*<button type="button" class="btn btn-info" data-toggle="modal" data-target="#modalCreate" onclick="RenderActions('/Ventas/BuscarClientesGeneral')">Buscar clientes 1</button>*@
<form method="post" action="@Url.Action("ComprasClientesFiltrarFecha", "Ventas")">


    @*<button type="button" class="btn btn-default" data-toggle="modal" data-target="#exampleModalLong">Ayuda</button>

        <button type="button" id="btnGrabar"  class="btn btn-default">BuscarClientes</button>
        @*<button type="button" class="btn btn-info" data-toggle="modal" data-target="#modalCreate" onclick="RenderActions('/TblTicketEncabezado/Edit2/' + @item.NTicket)">BuscarClientes</button>*@

    @*<button type="button" class="btn btn-info" data-toggle="modal" data-target="#modalCreate" onclick="RenderActions('/Ventas/BuscarClientesGeneral')">Buscar Clientes</button>*@

    <div class="row">
        <div class="col-lg-6">
            <div class="input-group">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#exampleModalLong">Ayuda</button>
                    @*<button type="button" class="btn btn-info" data-toggle="modal" data-target="#modalCreate" id="activador">Buscar Clientes</button>*@
                    @* <button type="button" class="btn-primary"  id="activador">Buscar Clientes</button>*@
                </span>

                <button type="submit" class="btn btn-info" id="activador">Buscar</button>
                <input name="Nombre" type="text" class="form-control" placeholder="Diginte aqui el nombre del Articulo a buscar">
            </div>
        </div>

    </div>

    <br />





</form>

@*<div id="partial">
        @Html.Partial("partial")
    </div>*@






@*<div id="modalCreate" class="modal fade" role="dialog" data-backdrop="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div id="OpenDialog" class="modal-body">
                </div>
            </div>
        </div>
    </div>*@

<div id="modalCreate" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="OpenDialog" class="modal-body">
            </div>
        </div>
    </div>
</div>

@*Modal*@
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Ayuda al Usuario</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Permite ver una lista de clientes que compran un articulo filtrado<br />
                Procedimiento:<br />
                1-Digitar el nombre del articulo y buscar. <br />
                2-Luego seleccionar en la seleccion desplegable el Articulo que coincide con la busqueda.<br />
                3-Seleccionar el rango de fechas a consultar y seleccionar el boton consultar.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Ok</button>

            </div>
        </div>
    </div>
</div>








@*<script>

    $('#my-tableDino23').dynatable({
        table: {
            defaultColumnIdStyle: 'dashed'
        }
    });


</script>*@

@*<script>
    $(function Busqueda() {

        //$("#btnCargar").click(function () {
        //$(this).prop("disabled", "disabled");
        var Nombre = $('#txtNombreBusqueda').val();
        $.get({
            url: "/Ventas/BuscarClientes",
            data: { Nombre },
            $.get(url, Nombre).done(function (data) {
                $("#divGet").append(data);
            }).fail(manejadrErrorAjax)};

                      
      }
    });

</script>*@





 

 
@*<div id="dialog-form" title="Create new user">
  <p class="validateTips">Busqueda de Articulos</p>
 
  <form>
    <fieldset>
      <label for="name">Name</label>
      <input type="text" name="name" id="name" value="Jane Smith" class="text ui-widget-content ui-corner-all">
      <label for="email">Email</label>
      <input type="text" name="email" id="email" value="jane@smith.com" class="text ui-widget-content ui-corner-all">
      <label for="password">Password</label>
      <input type="password" name="password" id="password" value="xxxxxxx" class="text ui-widget-content ui-corner-all">
 
    
      <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">

    </fieldset>
  </form>
</div>*@
 
 
@*<div id="users-contain" class="ui-widget">
  <h1>Existing Users:</h1>
  <table id="users" class="ui-widget ui-widget-content">
    <thead>
      <tr class="ui-widget-header ">
        <th>Name</th>
        <th>Email</th>
        <th>Password</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John Doe</td>
        <td>john.doe@example.com</td>
        <td>johndoe1</td>
      </tr>
    </tbody>
  </table>
</div>
<button id="create-user">Create new user</button>*@
 
 




@*<script>
    $(function () {
        $("#btnCargar").click(function () {
            $(this).prop("disabled","disabled");
            var url="@Url.Action("BuscarClientes","Ventas")";
            $.get(url).done(function (data) {
                $("#divGet").append(data);
            });
         
  
        });
    });
</script>*@


@*<script>
    function Busc() {
        //var urls = $('#txtNombreBusqueda').attr('action'); // recupero la url de mi formulario -> localhost/miproyecto/public/agency/search
        var Nombre = $('#txtNombreBusqueda').val(); // recupero el dato de mi input para enviar a buscar a mi controlador

        $.ajax({
            url: "/Ventas/BuscarClientes",
            data: { Nombre }, //Aqui tienes que enviar el objeto json
            success: function () {
                console.log(ans);
            },
            error: function () {
                console.log('error');// solo ingresa a esta parte
            }
        });
    };
</script>*@




@*<script>

    
    $('#cargar').click(function () {
        var Nombre = $('#txtNombreBusqueda').val();
                var idEliminar = $(this).attr("data-id");
                $("#btnEliminar").attr("data-eliminar", idEliminar);
                $("#myModal").modal();
            });
            $("#btnEliminar").click(function () {
                var idEliminar = $(this).attr("data-eliminar");
                $.ajax({
                    url: '/Ventas/BuscarClientes',
                    type: 'get',
                    data: { Nombre },
                    dataType: 'json',
                    success: function (result) {
                        console.log("Exito");
                        $("#" + idEliminar).remove();
                        $("#myModal").modal('hide');
                        $("#nombre").val()
                        txtarticulo
                    },
                    error: function () {
                        console.log("fallo");
                    }
                });
            });
</script>*@