
@{
    ViewBag.Title = "MaestroArticuloExport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form method="post" action="@Url.Action("MaestroArticuloExportDowload","Ventas")">
    <br />
    <div class="btn-group">
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#exampleModalLong">Ayuda</button>
        <button id="cargar" type="submit" class="btn btn-default">Descargar</button>
        <br />
    </div>
    </form>

<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Ayuda al Usuario</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Permite descargar el maestro catalogo de articulo en archivo Excel
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Ok</button>
                @* <button type="button" class="btn btn-primary">Save changes</button>*@
            </div>
        </div>
    </div>
</div>




<div class="modal modal-static fade" id="processing-modal" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="text-center">
                    @*<img src="~/assets/images/loading.gif" class="icon" />*@
                    <div class="spinner"></div>
                    @*<img src="~/Content/dist/img/128x128.gif" />*@
                    @*<img src="~/Imagenes/circulo espera.gif" />*@
                    <h5><span class="modal-text center-block">Procesando, Espere por favor...<br />      </span></h5>
                    <h5><span class="modal-text"><br />      </span></h5>
                    <h5><span class="modal-text"><br />      </span></h5>
                    <h5><span class="modal-text"><br />      </span></h5>

                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $("#cargar").click("click", function () {
            var md = $("#processing-modal");
            md.modal('show');



        });
</script>
