<br />

<label id="Mensaje" name="Mensaje" value="@ViewBag.Mensaje">@ViewBag.Mensaje</label>
<input type="hidden" name="Mensaje1" id="Mensaje1"value="@ViewBag.Mensaje" placeholder="@ViewBag.Mensaje" class="form-control">
<script>
    {
        var str = $('#Mensaje').val();
        //document.getElementById('Mensaje1').value = total
        //document.getElementById('Mensaje1').text = 'Nombre: ' + total
    if (str.substring(1, 2) = 'YA') {

        alertify.success("Ya existe un codigo");

    }

    //if (str.substring(0, 2) = 'SE') {
    //    /**/
    //    alertify.notify(str, 'success', 2, null);
    ///**/
}

</script>




