@model List <BlackSys.Models.TblClientes>

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<head>
    @*<link href="~/assets/css/bstree.css" rel="stylesheet" />*@
    @*<script src="~/assets/js/jqueryTreeview.js"></script>*@
    <link href="~/Content/css/CSS Personalizado/FunkyRadio.css" rel="stylesheet" />
</head>

<body>
    <h2>Nuevo Cliente</h2>
    <br>
    <form method="post" action="@Url.Action("Create")">


        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#Detalles">DETALLES</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#Precios">PRECIOS</a>
            </li>
            @*<li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#Menudeo">MENUDEO</a>
                </li>*@
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#Credito">CREDITO</a>
            </li>

        </ul>

        <!-- Tab panes -->
        <div class="tab-content">

            <div id="Detalles" class="container tab-pane active">
                <br>
                <div class="form form-bordered">

                    <div class="row">
                        <div class="col-md-6">
                            <span>Codigo:</span>
                            <input name="CodigoCliente" type="text" class="form-control" placeholder="Codigo Cliente">
                        </div>
                        <div class="col-md-6">
                            <span>Nombre</span>
                            <input type="text" class="form-control" placeholder="Nombre">
                        </div>
                    </div>

                    <br />

                    <div class="row">

                        <div class="col-md-6">
                            <span>Cedula:</span>
                            <input type="text" class="form-control" placeholder="Cedula">
                        </div>

                        <div class="col-md-6">
                            <span>Numero RUC:</span>
                            <input type="text" class="form-control" placeholder="Numero RUC">
                        </div>

                    </div>

                    <br />

                    <div class="row">

                        <div class="col-md-12">
                            <span>Correo:</span>
                            <input type="text" class="form-control" placeholder="Correo Electronico">
                        </div>

                       

                    </div>


                    <div class="row">
                        <div class="col-md-4">
                            <span>Telefono:</span>
                            <input type="text" class="form-control" placeholder="Telefono">
                        </div>

                        <div class="col-md-4">
                            <span>Celular:</span>
                            <input type="text" class="form-control" placeholder="Celular">
                        </div>

                        <div class="col-md-4">
                            <span>Otro contacto:</span>
                            <input type="text" class="form-control" placeholder="Otro contacto">
                        </div>

                    </div>

                    <br />

                    <div class="row">
                        <div class="col-md-4">
                            <span>Pais:</span>
                            <input type="text" class="form-control" placeholder="Pais">
                        </div>

                        <div class="col-md-4">
                            <span>Tipo Cliente:</span>
                            <input type="text" class="form-control" placeholder="">
                        </div>

                        <div class="col-md-4">
                            <span>Activo:</span>
                            <div class="col-md-6 col-sm-2 col-md-2 hop">
                                <input name="Activo" type="checkbox" data-off-text="NO" data-on-color="success" data-on-text="SI" checked="checked" class="BSswitch switch-small">
                            </div>
                        </div>

                    </div>

                    <br />

                    <div class="row">
                        <div class="box-body pad col-md-12">
                            <span>Direccion:</span>
                            <textarea name="Direccion" class="textarea" placeholder=""
                                      style="width: 100%; height: 100px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>

                        </div>

                    </div>

                </div>

            </div>

            <div id="Precios" class="container tab-pane fade">
                <br>
                <div class="form-group">
                    <div id="intro" class="col-md-6">
                        <span>Tipo de Cliente:</span>
                        @*<h4 class="control-label col-md-8">Lista de  Articulo</h4>*@
                        @*@Html.DropDownList("Id_TipoCliente", (IEnumerable<SelectListItem>)ViewBag.clientes, null, new { @class = "form-control" })*@
                    </div>

                    <div id="intro" class="col-md-6">
                        <span>Tipo de Precio:</span>
                        @*<h4 class="control-label col-md-8">Lista de  Articulo</h4>*@
                        @*@Html.DropDownList("Id_TipoPrecio", (IEnumerable<SelectListItem>)ViewBag.precio, null, new { @class = "form-control" })*@
                    </div>
                </div>


            </div>

            <div id="Credito" class="container tab-pane fade">
                <br />
                <div class="form form-bordered">
                    <div class="row">
                        <div class="col-md-6">
                            <span>Saldo Actual:</span>
                            <input type="text" class="form-control" value="0.00">
                        </div>

                        <div class="col-md-6">
                            <span>Limite de Credito:</span>
                            <input type="text" class="form-control" value="0.00">
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-6">
                            <span>Saldo Moroso:</span>
                            <input type="text" class="form-control" value="0">
                        </div>

                        <div class="col-md-6">
                            <span>Dias Habiles:</span>
                            <input type="text" class="form-control" value="0">
                        </div>
                    </div>
                </div>
            </div>

            <hr />

        </div>
        <button type="submit" class="btn btn-circle  btn-primary "><i class="fa fa-clipboard"></i> Guardar</button>
    </form>
</body>


