@model List<BlackSys.Models.W_ListarClientesIndex_Result>
@{


    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Clientes</h2>

<p>
    <a class="btn btn-circle btn-primary" href="/TblClientes/Create"><i class="fa fa-plus-square"></i> Agregar Nuevo</a>
    <button class="btn btn-circle btn-primary" onclick="exportTableToExcel('sys-table')"><i class="fa fa-cloud-download"></i> Exportar Excel</button>
</p>

<div class="row">


    <div class="col-md-12">


        <div class="form-group">
            @*<label class="control-label" for="Nombre">Seleecione el Vendedor a consultar</label>*@
            <h4>Escriba el nombre del articulo</h4>
            @*<button></button>*@
            <input id="buscar" type="text" class="form-control" placeholder="Escriba algo para filtrar" />
            <div class="help-block with-errors"></div>
            <span id="span1"></span>
        </div>
    </div>
</div>

<div id="partial">

    @Html.Partial("ListaPartialCliente")


</div>

<script>
    var input = document.getElementById("buscar");
    input.addEventListener("keyup", function (event) {
        if (event.keyCode === 13) {
            event.preventDefault();
            CargarParcial();
        }
    });
</script>



<script>
    function CargarParcial() {
        alertify.notify('Cargando', 'success', 1, null);
        var Nombre = $("#buscar").val();
        $("#partial").load('@(Url.Action("ListaPartialCliente", "TblClientes", null, Request.Url.Scheme))?Nombre=' + Nombre);

             };
</script>
