<div class="col-lg-3">
    @*<a href="compose.html" class="btn btn-primary btn-block margin-bottom">Compose</a>*@

    <div class="box box-solid">

        <div class="box-body no-padding">
            <ul class="nav nav-pills nav-stacked">
                <li class="active">
                    <a href="#">
                        <i class="fa fa-inbox"></i> Datos del CLiente
                        @*<span class="label label-primary pull-right"></span>*@
                    </a>
                </li>
                <li>
                    <a id="NombreLista" href="#"><i class="fa fa-envelope-o"></i>ViewBag.Nombre</a>


                </li>
                <li><a href="#"><i class="fa fa-file-text-o"></i>Email</a></li>
                <li>
                    <a href="#"><i class="fa fa-whatsapp"></i>Celular<span class="label label-info ion-social-whatsapp">65</span></a>
                </li>
                <li><a href="#"><i class="fa fa-whatsapp"></i>Telefono</a></li>
            </ul>
        </div>
        <!-- /.box-body -->
    </div>

</div>

