@model List<BlackSys.Models.Sucursal>
@{
    ViewBag.Title = "NombreSucursal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<table id="myTable" >

    <thead>
        <tr>
            <th>SUC Nombre</th>
            <th>SucDireccion</th>
 
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Suc_Nombre)</td>
                <td>@Html.DisplayFor(modelItem => item.Suc_Direccion)</td>
            </tr>
                    }

    </tbody>
</table>


<script>
    $(document).ready(function () {
        $('#myTable').DataTable();
    });
</script>

